<div class="row">
  <p>Num: {{registerUsers}} </p>

  <div *ngFor='let userItem of usersArray'>
    <div class="row">
      <div class="col-m12"></div>
      <ul>
        <li>{{userItem.id}}</li>
        <li>{{userItem.dni}}</li>
        <li>{{userItem.nombre}}</li>
        <li>
            <input type="button" (click)="deleteUser(userItem)" class="btn btn-danger btn-xs" value="X">
        </li>
        <li>
            <input type="button"  class="btn btn-success btn-xs" value="Mod">
        </li>
      </ul>
    </div>
  </div>
</div>
