<h3>Comunicación entre componentes</h3>
 <form>
   <div class="row">
     <h3>Registro de socios</h3>
   </div>
   <div class="row">
     <div class="col-sm-6">
       <label class="ajustado">DNI de socio
         <input type="text" class="form-control" name="DNIModel" [(ngModel)]="dni" (keyup)="clearNotice()">
       </label>
     </div>
     <div class="col-sm-6">
       <label class="ajustado">Nombre
         <input type="text" class="form-control" name="NombreModel" [(ngModel)]="nombre" (keyup)="clearNotice()">
       </label>
     </div>
   </div>
   <div class="row">
     <br>
   </div>
   <div class="row">
     <div class="col-sm-12">
       <input type="button" class="btn btn-primary" value="Grabar" (click)="saveRecord()">
     </div>
   </div>
    <div class="row">
     <br>
   </div>
    <div class="row" *ngIf="errorDetected">
     <div class="col-sm-12 alert alert-danger">
       <h4>Faltan datos</h4>
       <p>Ambos campos son obligatorios</p>
     </div>
   </div>
    <div class="row" *ngIf="recordSaved">
     <div class="col-sm-12 alert alert-success">
       <h4>Registro grabado</h4>
     </div>
   </div>
  </form>
